
.sideBar {
  position: fixed;
  z-index: 5000;
}

.sideBarList {
  min-height: 100vh;
}

.sideBarListTop ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sidebarTab {
  min-height: 100vh;
}

.mealCard:hover .cardLayer, .catCard:hover .cardLayer{
  top: 0;
}



.cardLayer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#ffffffaf,#ffffff33);
  transition: all 0.5s;
}

.searchPage {
  display: none;
}

.ingCard {
  max-height: 200px;
}

.contactPage {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.selectedMealTag {
  width: fit-content;
}